# fly.toml app configuration file generated for url-shortener-empty-sound-3751 on 2026-02-20T22:16:39+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'url-shortener-empty-sound-3751'
primary_region = 'fra'

[build]

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[env]
  BASE_URL = "https://url-shortener-empty-sound-3751.fly.dev"
  DATABASE_URL = "sqlite+aiosqlite:///data/db.sqlite3"
  ADMIN_USERNAME = "admin"

[mounts]
  source = "url_data"
  destination = "/app/data"

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
